@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background-neutral: theme(colors.rgb.white);
    --color-background-inverted: theme(colors.rgb.zinc.950);
    --color-background-red: theme(colors.rgb.red.500);
    --color-background-green: theme(colors.rgb.emerald.500);
    --color-background-blue: theme(colors.rgb.sky.500);
    --color-background-orange: theme(colors.rgb.amber.500);
    --color-background-gray: theme(colors.rgb.gray.500);
    --color-background-muted: theme(colors.rgb.zinc.100);
    --color-background-popover: theme(colors.rgb.white);

    --color-text-default: theme(colors.rgb.zinc.950);
    --color-text-inverted: theme(colors.rgb.zinc.50);
    --color-text-dim: theme(colors.rgb.zinc.500);
    --color-text-placeholder: theme(colors.rgb.zinc.500);
    --color-text-red: theme(colors.rgb.red.600);
    --color-text-green: theme(colors.rgb.emerald.600);
    --color-text-blue: theme(colors.rgb.sky.600);
    --color-text-orange: theme(colors.rgb.amber.600);
    --color-text-gray: theme(colors.rgb.gray.600);

    --color-text-red-contrast: theme(colors.rgb.zinc.50);
    --color-text-green-contrast: theme(colors.rgb.zinc.50);
    --color-text-blue-contrast: theme(colors.rgb.zinc.50);
    --color-text-orange-contrast: theme(colors.rgb.zinc.50);
    --color-text-gray-contrast: theme(colors.rgb.zinc.50);
    --color-text-popover-contrast: theme(colors.rgb.zinc.950);

    --color-border-default: theme(colors.rgb.zinc.200);
    --color-border-strong: theme(colors.rgb.zinc.400);
  }

  .dark {
    --color-background-neutral: theme(colors.rgb.zinc.950);
    --color-background-inverted: theme(colors.rgb.white);
    --color-background-red: theme(colors.rgb.red.600);
    --color-background-green: theme(colors.rgb.emerald.600);
    --color-background-blue: theme(colors.rgb.sky.600);
    --color-background-orange: theme(colors.rgb.amber.600);
    --color-background-gray: theme(colors.rgb.gray.600);
    --color-background-muted: theme(colors.rgb.zinc.800);
    --color-background-popover: theme(colors.rgb.neutral.900);

    --color-text-default: theme(colors.rgb.zinc.50);
    --color-text-inverted: theme(colors.rgb.zinc.950);
    --color-text-dim: theme(colors.rgb.zinc.400);
    --color-text-placeholder: theme(colors.rgb.zinc.400);
    --color-text-red: theme(colors.rgb.red.400);
    --color-text-green: theme(colors.rgb.emerald.400);
    --color-text-blue: theme(colors.rgb.sky.400);
    --color-text-orange: theme(colors.rgb.amber.400);
    --color-text-gray: theme(colors.rgb.gray.400);

    --color-text-red-contrast: theme(colors.rgb.zinc.50);
    --color-text-green-contrast: theme(colors.rgb.zinc.50);
    --color-text-blue-contrast: theme(colors.rgb.zinc.50);
    --color-text-orange-contrast: theme(colors.rgb.zinc.50);
    --color-text-gray-contrast: theme(colors.rgb.zinc.50);
    --color-text-popover-contrast: theme(colors.rgb.zinc.50);

    --color-border-default: theme(colors.rgb.zinc.800);
    --color-border-strong: theme(colors.rgb.zinc.400);
  }

  *,
  ::after,
  ::before {
    @apply border-default;
    @apply outline-0 outline-gray;
  }

  strong {
    @apply font-medium;
  }
}

@layer utilities {
  .row {
    @apply flex flex-row;
  }

  .col {
    @apply flex flex-col;
  }

  .gaps {
    @apply gap-6 sm:gap-4;
  }

  .text-icon {
    @apply text-dim;
  }

  .size-icon {
    @apply size-6;
  }

  .icon {
    @apply text-icon size-icon;
  }

  .direction-rtl {
    direction: rtl;
  }

  .text-link {
    @apply text-green hover:underline;
    @apply rounded focusable;
  }

  .typo-heading {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  .ping {
    @apply size-1.5 animate-ping rounded-full bg-blue;
  }

  .focused {
    @apply outline outline-2;
  }

  .focusable:focus-visible {
    @apply focused;
  }

  .focusable-within:has(:focus-visible) {
    @apply focused;
  }

  .hide-scrollbars::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-green {
    /* thumb track (rgb values are not working) */
    scrollbar-color: #05966999 #05966918;

    &::-webkit-scrollbar {
      background: theme(backgroundColor.green/50);
    }

    &::-webkit-scrollbar-thumb {
      background: theme(backgroundColor.green/10);
    }
  }

  .scrollbar-thin {
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 4px;
    }
  }
}

@layer components {
  .card {
    --color-card: theme(colors.rgb.white);
    --color-card-foreground: theme(colors.rgb.zinc.950);
  }

  :root.dark .card {
    --color-card: theme(colors.rgb.zinc.900);
    --color-card-foreground: theme(colors.rgb.zinc.50);
  }

  .card {
    @apply rounded-lg border shadow;
    background-color: rgb(var(--color-card));
    color: rgb(var(--color-card-foreground));
  }

  .card footer {
    @apply row items-center justify-between bg-muted px-4 py-2 rounded-b-lg;
  }

  table.table {
    @apply border-separate border-spacing-0;

    thead th {
      @apply bg-muted/50 border-t;
      @apply font-medium text-start text-dim text-xs;

      &:first-of-type {
        @apply border-l;
        @apply rounded-tl-md;
      }

      &:last-of-type {
        @apply border-r;
        @apply rounded-tr-md;
      }
    }

    tbody td {
      @apply border-t;

      &:first-of-type {
        @apply border-l;
      }

      &:last-of-type {
        @apply border-r;
      }
    }

    tbody tr {
      @apply hover:bg-muted/10;

      &:last-of-type td {
        @apply border-b;

        &:first-of-type {
          @apply rounded-bl-md;
        }

        &:last-of-type {
          @apply rounded-br-md;
        }
      }
    }

    th,
    td {
      @apply px-3 py-2;
    }
  }
}
