@import '../design-system/src/styles.css';

@layer base {
  body {
    @apply bg-neutral;
    @apply text-sm text-default;
  }

  .dark {
    @apply bg-neutral text-default;
  }

  .secondary-layout,
  .secondary-layout .dark {
    --color-background-green: theme(colors.rgb.emerald.300);
    --color-text-green: theme(colors.rgb.emerald.200);
    --color-background-red: theme(colors.rgb.red.400);
    --color-text-red: theme(colors.rgb.red.400);
  }

  .secondary-layout .dark {
    --color-background-neutral: 18 18 18;
  }
}

@layer utilities {
  .text-security-disc {
    -webkit-text-security: disc;
  }
}

/* react-toastify */

:root {
  --toastify-color-light: theme(colors.transparent);
  --toastify-text-color-light: theme(textColor.default);
  --toastify-toast-width: theme(maxWidth.md);
  --toastify-font-family: theme(fontFamily.sans);
  --toastify-toast-shadow: none;
  --toastify-toast-padding: 0;
  --toastify-z-index: 60;
}

@keyframes notification {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.notification-enter {
  animation: 240ms both notification;
}

.notification-exit {
  animation: 240ms reverse both notification;
}

/* intercom */

.intercom-lightweight-app {
  z-index: 30 !important;
}

/* hide reCAPTCHA badge */

.grecaptcha-badge {
  visibility: hidden;
}
